* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #52575D;
}

header {
  background-color: red;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #FDDB3A;
  font-family: "Courier New", Courier, monospace;
  padding: 2rem 0rem;
}

h2 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.container {
  background-color: aqua;
}

/*date container */
.date-container {
  display: flex;
  background-color: aquamarine;
  padding: 0.5rem;
}
.empty-div {
  background-color: chartreuse;
  padding: 0.5rem;
  width: 200px;
}

.date-box {
  background-color: coral;
  border: solid red 1px;
  width: 1.8rem;
}

/*habit container*/
.habit-container {
  background-color: burlywood;
}

.habit {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

button {
  border: none;
  background-color: white;
}

.habit-button {
  padding: 1rem;
}

li {
  list-style: none;
}

.habit-input {
  padding: 1rem;
  margin: 1rem;
  border: none;
  outline: none;
}

.fa-plus,
.fa-times {
  pointer-events: none;
}

.habit-row {
  border: solid yellow 5px;
  padding: 0.3rem;
  display: flex;
}
.boxes{
	display: flex;
}

.check-box {
  background-color: white;
  border: solid blue 1px;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.checked, .color-picker {
	border-radius: 50%;
	width:1rem;
	height:1rem;
	pointer-events: none;
}

.checked {
	background:#E89CFB;
}

.planned{
	border-radius: 50%;
	width:1rem;
	height:1rem;
	background:none;
	border: 3px solid #E89CFB;
}



