* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: yellow;
  font-family: futura;
}


header, .month {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  padding: 2rem 0rem;
}

h2 {
  font-size: 2rem;
}

.container{
	margin: 0 5rem;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;

}
.list-container, .calendar-container, .tracker-container{
	/*margin: 0.5rem;*/
}

.list-container{
	background: green;
	grid-column-start: 1;
  	grid-column-end: 2;
	/*display:inline-block;*/

}

.habit, .tracker{
	height:2.5rem;
    border-style: solid;
  	border-width: 0.5px;
  	padding:0.4rem;
  	background-color: white;
  	display: flex;
  	justify-content: space-between;
}

.color{
	margin-top:4px;
}

button {
  border: none;
  background-color: white;
}

.habit-button {
  padding: 1rem;
}

li {
  list-style: none;
}

.habit-input {
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  outline: none;
}

.emptybox{
	height:2.5rem;
	width:1.8rem;
	padding:0.4rem;
}

.fa-plus,
.fa-times {
  pointer-events: none;
}

.calendar-container{
	background: red;
}
.date-grid{
	display: flex;
}

.calendar-grid {
	display: grid;
	grid-template-columns: repeat(31, 1.8rem);

}

.date{
	height:2.5rem;
	width:1.8rem;
	padding:0.4rem;
}

.box {
	height:2.5rem;
	width:1.8rem;
	background: white;
  	border-style: solid;
  	border-width: 0.5px;
  	padding:0.4rem;
}

.tracker-container{
	background: orange;

}

